.wrapper {
    min-height: 1000px;
    margin-bottom: 100px;
}

.breadcrums {
    background-color: #f2f3f5;
    padding-left: 200px;
}
.banner {
    height: 190px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f5;
    margin-bottom: 60px;

    h2 {
        font-size: 4.6rem;
    }
}

.container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
}
