.wrapper {
    height: 500px;
    border-top: solid 1px #ccc;
}

.container {
    text-align: center;
    margin: 0 160px;
    padding: 84px 15px 79px;
}

//Top
.container-top {
    height: 75px;
}

.text-top {
    color: rgb(136, 136, 136);
}

.top-img {
    margin-bottom: 10px;
}

//Mid
.container-mid {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.mid-item {
    width: 200px;
    margin: auto;
}

.list-item {
    list-style: none;
    text-align: center;
    width: 170px;
}

.item {
    color: rgb(136, 134, 134);
    cursor: pointer;
}

.mid-item2 {
    display: flex;
    padding-top: 51px;
}

.input {
    width: 414px;
    height: 50px;
    font-size: 1.4rem;
    padding: 12px 16px 0 30px;
}

.input-button {
    width: 146px;
    height: 50px;
    background-color: #ccc;
    margin-left: 4px;
    font-weight: 500;
    color: #fff;
    background-color: #8696a0;
}

//Bot

.container-bot {
    max-width: 1170px;
}

.list-icon {
    display: flex;
    justify-content: center;
    list-style: none;
}

.icon-item {
    margin: 30px 12px 0;
    opacity: 60%;

    &:hover {
        opacity: 100%;
        cursor: pointer;
    }
}

// Last text
.last-text {
    margin-top: 35px;
    color: rgb(149, 147, 147);
}
