.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(223, 219, 219);
    position: relative;
    height: 1500px;
    margin-top: 20px;
}

.title {
    text-align: center;
    font-size: 3rem;
}

.title1 {
    font-size: 2rem;
    margin-left: 50px;
}

.container {
    width: 100%;
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
    border: 1px solid rgb(180, 178, 178);

    .container-inner {
        display: flex;
        flex-direction: column;
    }
}

.product-item {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 20px;
    overflow-y: hidden;
    border: 1px solid rgb(183, 181, 181);
}

.thumbs {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.thumbs-img {
    width: 70px;
    height: 100px;
    transition: transform 0.2s;
    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }
}

.info {
    height: 53px;
    width: 100px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sale,
.new,
.outstock {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.4rem;
    text-align: center;
}

.heart {
    position: absolute;
    color: rgb(69, 60, 60);
    right: 35px;
    top: 35px;
    transition: transform 0.2s;

    &:hover {
        color: red;
        transform: scale(1.5);
    }
}

.sale {
    background-color: red;
    width: 50px;
    color: var(--white-color);
}

.new {
    background-color: black;
    width: 50px;
    color: var(--white-color);
}

.outstock {
    background-color: #ccc;
}

.price-product {
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    font-weight: 700;
}

.name-product {
    font-size: 1.4rem;
    font-weight: 500;
}
