.wrapper {
    width: 100%;
    min-height: 1000px;
}

.container {
    width: calc(100% - 100px);
    margin-left: auto;
    margin-right: auto;
}

.list-cart {
    width: 100%;
    border: 1px solid #000;
}

.title {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    margin-bottom: 50px;

    span {
        font-size: 4rem;
    }
}
