.wrapper {
    min-height: 600px;
}
.header {
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6d6d6;
    margin-bottom: 50px;
    font-weight: 500;
}

.breadcrums {
    background-color: #d6d6d6;
    padding-left: 170px;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding-left: 100px;
}
