.wrapper {
    min-height: 1000px;
}

.container-1 {
    height: 700px;
    display: flex;
}

.container-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-h6 {
    color: rgb(136, 132, 132);
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.container-h2 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.button-container {
    width: 193px;
    height: 60px;
    background-color: #8696a0;
    color: #fff;
    font-weight: 500;
    transition: background-color linear 0.2s;

    &:hover {
        cursor: pointer;
        background-color: #000;
    }
}

.container-right {
    width: 50%;
}

@keyframes img-turnout {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes img-turnout2 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.container-img {
    width: 100%;
    height: 100%;
    position: relative;
    animation: img-turnout 4s ease;
}

.breadcrums {
    width: 100%;
    height: 100px;
}

//container 2

.container-2 {
    height: 715px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container2-left {
    width: 770px;
}

.container2-img {
    height: 100%;
    width: 100%;
    animation: img-turnout2 4s ease;
}

.container2-right {
    width: 370px;
    display: flex;
    align-items: center;
}

.container-h6 {
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
}

.container-h3 {
    font-size: 4rem;
    font-weight: 500;
}

.container-p {
    color: #75787a;
    font-size: 1.8rem;
    margin-bottom: 28px;
}

//slider sale
.wrapper-slider {
    max-height: 517px;
}

.container-slider {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.red {
    color: rgb(245, 2, 2);
}
.slider-title {
    width: 700px;
    margin: 0 auto;
    .slider {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        div {
            display: flex;
            flex-direction: column;
        }
        p {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        span {
            margin-left: 20px;
            text-align: center;
        }
    }

    img {
        width: 120px;
        height: 120px;
    }

    h3 {
        color: rgb(248, 6, 6);
    }
}

.price-product-sale {
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        border-top: 1px solid #000;
        top: 10px;
    }
}

//container 3
.container-3 {
    height: 715px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
}

//sections

.sections-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections {
    max-width: 1200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.sections-item {
    width: calc(1200px / 3);
}

.sections-icon {
    width: 60px;
    height: 60px;
    color: #b9b9b9;
    margin-bottom: 15px;
}

.sections-title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.sections-decs {
    font-size: 1.4rem;
    color: var(--text-color);
}
