.wrapper {
    width: 100%;
    min-height: 750px;
}

.container {
    width: 1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 75px;
}
.container-left {
    width: 60%;
    height: 100%;
    padding: 56px 66px 0 0;
    position: relative;

    &::after {
        content: '';
        height: 100%;
        position: absolute;
        display: block;
        border-left: 1px solid rgb(194, 193, 193);
        right: 0;
        top: 0;
    }

    h3 {
        font-weight: 500;
        font-size: 2.4rem;
        margin-bottom: 8px;
    }

    .container-sub {
        font-size: 1.4rem;
        color: rgb(77, 75, 75);
        display: block;
        margin-bottom: 20px;
    }

    .container-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        align-items: center;

        input,
        textarea,
        select {
            flex: 3;
        }
        span,
        label {
            text-align: center;
            flex: 1;
        }

        input,
        select {
            border-radius: 5px;
            padding: 10px;
            height: 46px;
            outline: 1px solid #ccc;
            border: 1px solid #ccc;

            &:focus {
                border: 1px solid rgb(67, 66, 66);
            }
        }

        textarea {
            border-radius: 5px;
            outline: 1px solid #ccc;
            border: none;
            height: 70px;
            padding: 10px;
            border: 1px solid #ccc;
            &:focus {
                border: 1px solid rgb(67, 66, 66);
            }
        }
    }

    .container-item-sub {
        font-size: 1.3rem;
        color: rgb(84, 83, 83);

        span {
            &:hover {
                text-decoration: underline;
                color: #000;
                scale: 1.1;
            }
        }
    }
}

.return {
    &:hover {
        text-decoration: underline;
    }
}

.policy {
    border-top: 1px solid rgb(196, 193, 193);
    span {
        margin-right: 20px;
        font-size: 1.4rem;
        color: rgb(117, 116, 116);
    }
}
.container-button {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 30px;

    span {
        font-size: 1.4rem;
    }

    .button {
        font-size: 1.4rem;
        button {
            height: 40px;
            width: 110px;
            border-radius: 3px;
            background-color: rgb(231, 231, 231);
            transition: background-color linear 0.2s;
            span {
                margin-right: 5px;
            }

            &:hover {
                background-color: #000;
                color: var(--white-color);
            }
        }
    }
}

.container-right {
    width: 40%;
    height: 100%;
    padding: 56px 0 0 46px;
}

.breadcrums {
    height: 30px;
}

.container-right-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;

    .total {
        display: flex;
        flex-direction: column;
        span {
            font-size: 1.4rem;
        }
        p {
            font-size: 1.4rem;
        }
    }
}
