.wrapper {
    width: 100%;
    min-height: 500px;
}

.container {
    width: 1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 75px;
}
.container-left {
    width: 60%;
    height: 100%;
    padding: 56px 66px 0 0;
    position: relative;

    &::after {
        content: '';
        height: 100%;
        position: absolute;
        display: block;
        border-left: 1px solid rgb(194, 193, 193);
        right: 0;
        top: 0;
    }
}

.return {
    &:hover {
        text-decoration: underline;
    }
}

.policy {
    border-top: 1px solid rgb(196, 193, 193);
    span {
        margin-right: 20px;
        font-size: 1.4rem;
        color: rgb(117, 116, 116);
    }
}

.container-right {
    width: 40%;
    height: 100%;
    padding: 56px 0 0 46px;
}

.container-right-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;

    .total {
        display: flex;
        flex-direction: column;
        span {
            font-size: 1.4rem;
        }
        p {
            font-size: 1.4rem;
        }
    }
}
