.image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.table {
    width: 100%;
}

.table-item1 {
    width: 25%;
    margin: 10px 50px 10px 0;
    display: flex;
    align-items: center;

    &:first-child {
        width: 100%;
        font-size: 1.4rem;
    }
}

.table-item2 {
    font-size: 1.5rem;
    padding-left: 20px;
}

.table-item3 {
    .quantity-box {
        width: 130px;
        height: 45px;
        border: 1px solid rgb(203, 200, 200);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.8rem;

        button {
            height: 100%;
            width: 33%;
            background-color: var(--white-color);

            &:hover {
                background-color: rgb(240, 235, 235);
            }
        }
    }
}

.total-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        width: 40px;
        font-size: 1.5rem;
        height: 40px;
        background-color: var(--white-color);
    }
}
.input-quantity {
    width: 28px;
    text-align: center;
}
