.control-item {
    border: 1px solid rgb(205, 189, 189);
}
.invalid {
    border-color: red;
}
.valid {
    border-color: green;
}

.wrapper {
    width: 100%;
    min-height: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;

    .invalid-text {
        position: absolute;
        right: 360px;
    }
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    label {
        font-size: 2.4rem;
        margin-right: 10px;
    }
    input {
        height: 30px;
        flex: 1;
        padding-left: 10px;
        font-size: 1.6rem;
    }
}

.icon {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.4;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.invalid-text {
    font-size: 1.4rem;
}

.action {
    display: flex;
    justify-content: space-evenly;
    button {
        width: 60px;
        border-radius: 10px;
        height: 30px;
        background-color: #ccc;
        color: var(--white-color);
        transition: background-color linear 0.2s;

        &:hover {
            background-color: var(--black-color);
        }
    }
}
