.order-item {
    td {
        font-size: 1.3rem;
        text-align: center;
        button {
            width: 60px;
            height: 30px;
            border-radius: 10px;
            background-color: #ccc;
            transition: background-color linear 0.2s;

            &:hover {
                background-color: #000;
                color: var(--white-color);
            }
        }
    }
}
