.wrapper {
    width: 100%;
    margin-bottom: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    display: block;
    background-color: var(--white-color);
}

.inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//logo

.img-block {
    width: 25%;
    height: 60px;
}

.img-logo {
    padding-top: 14px;
    padding-left: 10px;
}

//pages

.page {
    width: 50%;
    display: inline-block;
}

.page-list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.page-list-item {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    border-bottom: solid 1px #fff;
    transition: border-bottom ease-in 0.5s;
    transform-origin: left;

    &:hover,
    &:focus {
        border-bottom: solid 1px #000;
        cursor: pointer;
    }
}

//actions

.actions {
    width: 25%;
}

.actions-items {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}

.actions-item {
    margin-right: 20px;
}

.actions-item-login {
    font-size: 1.2rem;
    margin-right: 20px;
    line-height: 2.4rem;
    border-bottom: solid 1px #fff;
    transition: border-bottom ease-in 0.5s;
    transform-origin: left;

    &:hover,
    &:focus {
        border-bottom: solid 1px #000;
        cursor: pointer;
    }
}

.item-span {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    margin-left: 2px;
    text-align: center;
    display: inline-block;
    height: 24px;
    min-width: 24px;
}

.item-icon {
    width: 24px;
    height: 24px;
}

//

.wrapper-result {
    width: 50px;
    height: 100%;
}
