.wrapper {
    margin-bottom: 70px;
}

.inner {
    font-size: 2rem;
    .item {
        display: flex;
        margin-bottom: 10px;

        .item-desc {
            color: rgb(106, 105, 105);
            margin-right: 10px;
        }
    }
    .edit {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        button {
            width: 100px;
            height: 40px;
            background-color: #ccc;
            transition: background-color linear 0.3s;
            span {
                font-size: 1.6rem;
                margin-left: 5px;
            }
            border-radius: 10px;

            &:hover {
                background-color: var(--black-color);
                color: var(--white-color);
            }
        }
    }
}
